VITE_FIREBASE_API_KEY=AIzaSyCggN-J-s71QjznNcwbB1PC-sSb-zem7dQ
VITE_FIREBASE_AUTH_DOMAIN=spark-dating-5c7fc.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=spark-dating-5c7fc
VITE_FIREBASE_STORAGE_BUCKET=spark-dating-5c7fc.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=190986838288
VITE_FIREBASE_APP_ID=1:190986838288:web:4e9d2fded8c7097aad8595
VITE_FIREBASE_MEASUREMENT_ID=G-5V17WSDQTR
VITE_FIREBASE_DATABASE_URL=https://spark-dating-5c7fc-default-rtdb.firebaseio.com
